.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* hide html */
html {
  overflow-x: hidden;
}

/* Navbar */

div.navbar {
  /* height: 40px; */
  width: 50px;
  position: fixed;
  right: 10px;
  top: 10px;
}

/* Nav container */

@keyframes flipOnLoad {
  0% {
    transform: scaleX(-1);
  }
  100% {
    transform: scaleX(1);
  }
}

/* div.menu-container {
  animation: flipOnLoad 0.5s 1.5s 1;
  animation-timing-function: ease-in;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  padding-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
}

div.line {
  border-bottom: 1.3px solid black;
  height: 6px;
  width: 100%;
  margin-bottom: 3px;
} */

/* Head  */

div.head {
  background-image: url('img/577.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

div.container {
  margin: auto;
  position: relative;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Main */

div.main {
  height: 1000px;
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
}

/* Fonts */

h1 {
  text-align: center;
  color: black;
  font-size: 60px;
}

p.head {
  text-align: center;
  color: black;
}

p.head-react {
  text-align: center;
  color: black;
  margin-top: 10%;
  margin-bottom: 0;
  font-style: italic;
}

h4.head {
  font-size: 25px;
  color: black;
  text-align: center;
  margin: auto;
  margin-bottom: 0px;
  font-weight: 400;
}

/* font awesome fonts and emojis */
.font-awesome {
  color: black;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 5px;
  font-size: 30px;
}

.bottom-div {
  display: flex;
  align-content: center;
  flex-direction: column;
}

.bottom-link {
  display: flex;
  align-content: center;
  flex-direction: column;
}

.attribute {
  margin-top: -20px;
  margin-left: 5px;
  align-self: flex-start;
  font-size: 8px;
  font-style: italic;
}

/* React logo */

body {
  font-family: 'Roboto', sans-serif;
}
.react-container {
  width: 150px;
  height: 150px;
  margin: 0px auto 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.react-logo {
  display: inline-block;
  border-radius: 50%;
  border: 10px solid #00d8ff;

  animation-name: rotate;
  animation-duration: 1.8s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.react-logo,
.react-logo:before,
.react-logo:after {
  position: absolute;
  display: inline-block;
  width: 100px;
  height: 35px;
  border-radius: 50%;
  border: 3px solid #00d8ff;
}

.nucleo,
.react-logo,
.react-logo:before,
.react-logo:after {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nucleo {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #00d8ff;
}

.react-logo:before,
.react-logo:after {
  content: '';
}

.react-logo:after {
  transform: rotate(-57deg);
}

.react-logo:before {
  transform: rotate(57deg);
}

@keyframes rotate {
  100% {
    transform: rotate(180deg);
  }
}

/************** testing hamburger *****************/

img.menu {
  max-width: 45px;
}
hr.menu {
  margin-left: 10px;
  margin-right: 100px;
  width: 60px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: white;
  border: 1px solid white;
}
.hamburger-container {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  right: 0%;
  top: 0%;
  padding-top: 10px;
  padding-right: 10px;
  z-index: 1;
}
.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 4px;
  background-color: rgba(0,0,0,.7);
  margin: 0 0 6px 0;
  transition: 0.4s;
  z-index: 2;
}

.change .bar1 {
  transform-origin: left;
  background-color: white;
  transform: rotate(90deg) translate(-1px, -6px) ;
  opacity: 0;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  position: absolute;
  transform-origin: right;
  background-color: white;
  transform: rotate(90deg) translate(9px, 10px);
}
